[user]
	email = jonah@jonahsnider.com
	name = Jonah Snider
	signingkey = E3D78B8F4596CD635F304439E85CE1D319132409
[gpg]
	program = gpg
[core]
	autocrlf = false
[commit]
	gpgsign = true
[credential]
	credentialStore = gpg
	helper =
  helper = manager-core
[credential "https://dev.azure.com"]
	useHttpPath = true
[pull]
	rebase = true
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
