[user]
	email = jonah@jonahsnider.com
	name = Jonah Snider
	signingkey = E3D78B8F4596CD635F304439E85CE1D319132409
[gpg]
	program = gpg
[core]
	autocrlf = false
[commit]
	gpgsign = true
[credential]
	helper = manager-core
	credentialStore = gpg
[credential "https://dev.azure.com"]
	useHttpPath = true
[pull]
	rebase = true
[init]
	defaultBranch = main
